DISCORD_TOKEN=tu_token_de_discord
CLIENT_ID=tu_client_id
GUILD_ID=tu_guild_id
MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/lacs-bot
OPENAI_API_KEY=tu_api_key_openai
ROBLOX_API_KEY=tu_api_key_roblox
OWNER_ID=tu_id_discord
PREFIX=! 
PORT=3000
